@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-OLNPb8syvAW7_font-family: "Inter", sans-serif;
  --mixin-OLNPb8syvAW7_font-size: 16px;
  --mixin-OLNPb8syvAW7_font-weight: 400;
  --mixin-OLNPb8syvAW7_font-style: normal;
  --mixin-OLNPb8syvAW7_color: #535353;
  --mixin-OLNPb8syvAW7_text-align: left;
  --mixin-OLNPb8syvAW7_text-transform: none;
  --mixin-OLNPb8syvAW7_line-height: 1.5;
  --mixin-OLNPb8syvAW7_letter-spacing: normal;
  --mixin-OLNPb8syvAW7_white-space: pre-wrap;
  --mixin-OLNPb8syvAW7_user-select: text;
  --mixin-OLNPb8syvAW7_text-decoration-line: none;
  --mixin-OLNPb8syvAW7_text-overflow: clip;
  --mixin-ldPAqlKksrax_color: #000000;
  --mixin-ldPAqlKksrax_font-weight: 700;
  --mixin-ldPAqlKksrax_font-size: 64px;
  --mixin-ldPAqlKksrax_line-height: 1;
  --mixin-ldPAqlKksrax_letter-spacing: -1px;
  --mixin-ldPAqlKksrax_white-space: pre-wrap;
  --mixin-1vzG1mATHhSm_color: #000000;
  --mixin-1vzG1mATHhSm_font-size: 48px;
  --mixin-1vzG1mATHhSm_font-weight: 700;
  --mixin-1vzG1mATHhSm_letter-spacing: -0.5px;
  --mixin-1vzG1mATHhSm_line-height: 1.1;
  --mixin-1vzG1mATHhSm_white-space: pre-wrap;
  --mixin-pADpS75OY2OE_color: #0070f3;
  --mixin-pADpS75OY2OE_white-space: pre-wrap;
  --mixin-GBuCIVfVHOy3_color: #000000;
  --mixin-GBuCIVfVHOy3_font-size: 32px;
  --mixin-GBuCIVfVHOy3_font-weight: 600;
  --mixin-GBuCIVfVHOy3_line-height: 1.2;
  --mixin-GBuCIVfVHOy3_white-space: pre-wrap;
  --mixin-pd213F__qNew_color: #000000;
  --mixin-pd213F__qNew_font-size: 24px;
  --mixin-pd213F__qNew_font-weight: 600;
  --mixin-pd213F__qNew_line-height: 1.3;
  --mixin-pd213F__qNew_white-space: pre-wrap;
  --mixin-rCh2sJjhcxbZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rCh2sJjhcxbZ_border-bottom-color: #dddddd;
  --mixin-rCh2sJjhcxbZ_border-bottom-style: solid;
  --mixin-rCh2sJjhcxbZ_border-bottom-width: 1px;
  --mixin-rCh2sJjhcxbZ_border-left-color: #dddddd;
  --mixin-rCh2sJjhcxbZ_border-left-style: solid;
  --mixin-rCh2sJjhcxbZ_border-left-width: 1px;
  --mixin-rCh2sJjhcxbZ_border-right-color: #dddddd;
  --mixin-rCh2sJjhcxbZ_border-right-style: solid;
  --mixin-rCh2sJjhcxbZ_border-right-width: 1px;
  --mixin-rCh2sJjhcxbZ_border-top-color: #dddddd;
  --mixin-rCh2sJjhcxbZ_border-top-style: solid;
  --mixin-rCh2sJjhcxbZ_border-top-width: 1px;
  --mixin-rCh2sJjhcxbZ_border-bottom-left-radius: 3px;
  --mixin-rCh2sJjhcxbZ_border-bottom-right-radius: 3px;
  --mixin-rCh2sJjhcxbZ_border-top-left-radius: 3px;
  --mixin-rCh2sJjhcxbZ_border-top-right-radius: 3px;
  --mixin-rCh2sJjhcxbZ_font-family: "Inconsolata";
  --mixin-rCh2sJjhcxbZ_padding-bottom: 1px;
  --mixin-rCh2sJjhcxbZ_padding-left: 4px;
  --mixin-rCh2sJjhcxbZ_padding-right: 4px;
  --mixin-rCh2sJjhcxbZ_padding-top: 1px;
  --mixin-rCh2sJjhcxbZ_white-space: pre-wrap;
  --mixin-wKULmZ6rfhgY_border-left-color: #dddddd;
  --mixin-wKULmZ6rfhgY_border-left-style: solid;
  --mixin-wKULmZ6rfhgY_border-left-width: 3px;
  --mixin-wKULmZ6rfhgY_color: #888888;
  --mixin-wKULmZ6rfhgY_padding-left: 10px;
  --mixin-wKULmZ6rfhgY_white-space: pre-wrap;
  --mixin-73L3Dxck9PQK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-73L3Dxck9PQK_border-bottom-color: #dddddd;
  --mixin-73L3Dxck9PQK_border-bottom-style: solid;
  --mixin-73L3Dxck9PQK_border-bottom-width: 1px;
  --mixin-73L3Dxck9PQK_border-left-color: #dddddd;
  --mixin-73L3Dxck9PQK_border-left-style: solid;
  --mixin-73L3Dxck9PQK_border-left-width: 1px;
  --mixin-73L3Dxck9PQK_border-right-color: #dddddd;
  --mixin-73L3Dxck9PQK_border-right-style: solid;
  --mixin-73L3Dxck9PQK_border-right-width: 1px;
  --mixin-73L3Dxck9PQK_border-top-color: #dddddd;
  --mixin-73L3Dxck9PQK_border-top-style: solid;
  --mixin-73L3Dxck9PQK_border-top-width: 1px;
  --mixin-73L3Dxck9PQK_border-bottom-left-radius: 3px;
  --mixin-73L3Dxck9PQK_border-bottom-right-radius: 3px;
  --mixin-73L3Dxck9PQK_border-top-left-radius: 3px;
  --mixin-73L3Dxck9PQK_border-top-right-radius: 3px;
  --mixin-73L3Dxck9PQK_font-family: "Inconsolata";
  --mixin-73L3Dxck9PQK_padding-bottom: 3px;
  --mixin-73L3Dxck9PQK_padding-left: 6px;
  --mixin-73L3Dxck9PQK_padding-right: 6px;
  --mixin-73L3Dxck9PQK_padding-top: 3px;
  --mixin-73L3Dxck9PQK_white-space: pre-wrap;
  --mixin-FcurAO9hGXEY_display: flex;
  --mixin-FcurAO9hGXEY_flex-direction: column;
  --mixin-FcurAO9hGXEY_align-items: stretch;
  --mixin-FcurAO9hGXEY_justify-content: flex-start;
  --mixin-FcurAO9hGXEY_list-style-position: outside;
  --mixin-FcurAO9hGXEY_padding-left: 40px;
  --mixin-FcurAO9hGXEY_position: relative;
  --mixin-FcurAO9hGXEY_list-style-type: disc;
  --mixin-FcurAO9hGXEY_white-space: pre-wrap;
  --mixin-vsxLFQLz30Ci_display: flex;
  --mixin-vsxLFQLz30Ci_flex-direction: column;
  --mixin-vsxLFQLz30Ci_align-items: stretch;
  --mixin-vsxLFQLz30Ci_justify-content: flex-start;
  --mixin-vsxLFQLz30Ci_list-style-position: outside;
  --mixin-vsxLFQLz30Ci_padding-left: 40px;
  --mixin-vsxLFQLz30Ci_position: relative;
  --mixin-vsxLFQLz30Ci_list-style-type: decimal;
  --mixin-vsxLFQLz30Ci_white-space: pre-wrap;
  --mixin-QOi0v9mVhCqw_color: #000000;
  --mixin-QOi0v9mVhCqw_font-size: 20px;
  --mixin-QOi0v9mVhCqw_font-weight: 600;
  --mixin-QOi0v9mVhCqw_line-height: 1.5;
  --mixin-QOi0v9mVhCqw_white-space: pre-wrap;
  --mixin-wUTVNiL-X80G_color: #000000;
  --mixin-wUTVNiL-X80G_font-size: 16px;
  --mixin-wUTVNiL-X80G_font-weight: 600;
  --mixin-wUTVNiL-X80G_line-height: 1.5;
  --mixin-wUTVNiL-X80G_white-space: pre-wrap;
  --mixin-prdKeFD8fJoE_color: #3291ff;
  --mixin-prdKeFD8fJoE_white-space: pre-wrap;
  --mixin-iR15Y0jtT_hp_white-space: pre-wrap;
  --mixin-a6tZdWhM4Wl9_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-OLNPb8syvAW7_font-family);
  font-size: var(--mixin-OLNPb8syvAW7_font-size);
  font-weight: var(--mixin-OLNPb8syvAW7_font-weight);
  font-style: var(--mixin-OLNPb8syvAW7_font-style);
  color: var(--mixin-OLNPb8syvAW7_color);
  text-align: var(--mixin-OLNPb8syvAW7_text-align);
  text-transform: var(--mixin-OLNPb8syvAW7_text-transform);
  line-height: var(--mixin-OLNPb8syvAW7_line-height);
  letter-spacing: var(--mixin-OLNPb8syvAW7_letter-spacing);
  white-space: var(--mixin-OLNPb8syvAW7_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ldPAqlKksrax_color);
  font-weight: var(--mixin-ldPAqlKksrax_font-weight);
  font-size: var(--mixin-ldPAqlKksrax_font-size);
  line-height: var(--mixin-ldPAqlKksrax_line-height);
  letter-spacing: var(--mixin-ldPAqlKksrax_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-1vzG1mATHhSm_color);
  font-size: var(--mixin-1vzG1mATHhSm_font-size);
  font-weight: var(--mixin-1vzG1mATHhSm_font-weight);
  letter-spacing: var(--mixin-1vzG1mATHhSm_letter-spacing);
  line-height: var(--mixin-1vzG1mATHhSm_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-pADpS75OY2OE_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-GBuCIVfVHOy3_color);
  font-size: var(--mixin-GBuCIVfVHOy3_font-size);
  font-weight: var(--mixin-GBuCIVfVHOy3_font-weight);
  line-height: var(--mixin-GBuCIVfVHOy3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-pd213F__qNew_color);
  font-size: var(--mixin-pd213F__qNew_font-size);
  font-weight: var(--mixin-pd213F__qNew_font-weight);
  line-height: var(--mixin-pd213F__qNew_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rCh2sJjhcxbZ_font-family);
  border-radius: var(--mixin-rCh2sJjhcxbZ_border-top-left-radius)
    var(--mixin-rCh2sJjhcxbZ_border-top-right-radius)
    var(--mixin-rCh2sJjhcxbZ_border-bottom-right-radius)
    var(--mixin-rCh2sJjhcxbZ_border-bottom-left-radius);
  padding: var(--mixin-rCh2sJjhcxbZ_padding-top)
    var(--mixin-rCh2sJjhcxbZ_padding-right)
    var(--mixin-rCh2sJjhcxbZ_padding-bottom)
    var(--mixin-rCh2sJjhcxbZ_padding-left);
  border-top: var(--mixin-rCh2sJjhcxbZ_border-top-width)
    var(--mixin-rCh2sJjhcxbZ_border-top-style)
    var(--mixin-rCh2sJjhcxbZ_border-top-color);
  border-right: var(--mixin-rCh2sJjhcxbZ_border-right-width)
    var(--mixin-rCh2sJjhcxbZ_border-right-style)
    var(--mixin-rCh2sJjhcxbZ_border-right-color);
  border-bottom: var(--mixin-rCh2sJjhcxbZ_border-bottom-width)
    var(--mixin-rCh2sJjhcxbZ_border-bottom-style)
    var(--mixin-rCh2sJjhcxbZ_border-bottom-color);
  border-left: var(--mixin-rCh2sJjhcxbZ_border-left-width)
    var(--mixin-rCh2sJjhcxbZ_border-left-style)
    var(--mixin-rCh2sJjhcxbZ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-wKULmZ6rfhgY_color);
  padding-left: var(--mixin-wKULmZ6rfhgY_padding-left);
  border-left: var(--mixin-wKULmZ6rfhgY_border-left-width)
    var(--mixin-wKULmZ6rfhgY_border-left-style)
    var(--mixin-wKULmZ6rfhgY_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-73L3Dxck9PQK_font-family);
  border-radius: var(--mixin-73L3Dxck9PQK_border-top-left-radius)
    var(--mixin-73L3Dxck9PQK_border-top-right-radius)
    var(--mixin-73L3Dxck9PQK_border-bottom-right-radius)
    var(--mixin-73L3Dxck9PQK_border-bottom-left-radius);
  padding: var(--mixin-73L3Dxck9PQK_padding-top)
    var(--mixin-73L3Dxck9PQK_padding-right)
    var(--mixin-73L3Dxck9PQK_padding-bottom)
    var(--mixin-73L3Dxck9PQK_padding-left);
  border-top: var(--mixin-73L3Dxck9PQK_border-top-width)
    var(--mixin-73L3Dxck9PQK_border-top-style)
    var(--mixin-73L3Dxck9PQK_border-top-color);
  border-right: var(--mixin-73L3Dxck9PQK_border-right-width)
    var(--mixin-73L3Dxck9PQK_border-right-style)
    var(--mixin-73L3Dxck9PQK_border-right-color);
  border-bottom: var(--mixin-73L3Dxck9PQK_border-bottom-width)
    var(--mixin-73L3Dxck9PQK_border-bottom-style)
    var(--mixin-73L3Dxck9PQK_border-bottom-color);
  border-left: var(--mixin-73L3Dxck9PQK_border-left-width)
    var(--mixin-73L3Dxck9PQK_border-left-style)
    var(--mixin-73L3Dxck9PQK_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-FcurAO9hGXEY_display);
  flex-direction: var(--mixin-FcurAO9hGXEY_flex-direction);
  align-items: var(--mixin-FcurAO9hGXEY_align-items);
  justify-content: var(--mixin-FcurAO9hGXEY_justify-content);
  list-style-position: var(--mixin-FcurAO9hGXEY_list-style-position);
  padding-left: var(--mixin-FcurAO9hGXEY_padding-left);
  position: var(--mixin-FcurAO9hGXEY_position);
  list-style-type: var(--mixin-FcurAO9hGXEY_list-style-type);
  flex-column-gap: var(--mixin-FcurAO9hGXEY_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vsxLFQLz30Ci_display);
  flex-direction: var(--mixin-vsxLFQLz30Ci_flex-direction);
  align-items: var(--mixin-vsxLFQLz30Ci_align-items);
  justify-content: var(--mixin-vsxLFQLz30Ci_justify-content);
  list-style-position: var(--mixin-vsxLFQLz30Ci_list-style-position);
  padding-left: var(--mixin-vsxLFQLz30Ci_padding-left);
  position: var(--mixin-vsxLFQLz30Ci_position);
  list-style-type: var(--mixin-vsxLFQLz30Ci_list-style-type);
  flex-column-gap: var(--mixin-vsxLFQLz30Ci_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-QOi0v9mVhCqw_color);
  font-size: var(--mixin-QOi0v9mVhCqw_font-size);
  font-weight: var(--mixin-QOi0v9mVhCqw_font-weight);
  line-height: var(--mixin-QOi0v9mVhCqw_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-wUTVNiL-X80G_color);
  font-size: var(--mixin-wUTVNiL-X80G_font-size);
  font-weight: var(--mixin-wUTVNiL-X80G_font-weight);
  line-height: var(--mixin-wUTVNiL-X80G_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-prdKeFD8fJoE_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
